.tns-count {
  font-size: 45;
  horizontal-align: center;
}

.tns-tomato {
    z-index: 10;
}

.tns-cancel {
    background-color: #8f91de;
    width: 45;
    height: 45;
    font-size: 20;
    padding: 0 0 8;
    border-radius: 50%;
    color: #fff;
    margin-right: 80;
    text-align: center;
}