<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="centered-data">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Number Counter</mat-card-title>
      </mat-card-header>
      <button mat-button><img mat-card-image src="https://media.discordapp.net/attachments/549997632412712960/564028462092910592/tomato.png?width=936&height=468" alt="Photo of a Shiba Inu"></button>
    </mat-card>
  </div>
</div>

